<div class="container">
<div class="main">
    <div class="weather">
        <input type="search" placeholder="enter your city" (input)="setCity($event)">
        <button (click)="onSearch()">Search</button>
        <br>
        <br>
        <br>

    </div>
    <div class="details">
        <div class="sou1">
        <img src={{image}}>
        </div>
        <div class="sou2">
        <h1>{{temp}}</h1>
        <br>
        <h4>{{text}}</h4>
        <h4>{{feels}}</h4>
        </div>
    </div>
</div>
</div>